page-home {
		ion-icon {
			font-size:4em;
			padding-top:5%;
		}
		.cat-btn {
			width: 100%;
	    	text-align: left;
	    	font-size: 2em;
	    	padding: 10px;
	    	background: #fff;
    	}

    	ion-row ion-fab {
	    	right: 0;
	    	top: 3px;
	    }
	    ion-card, .cat-btn {
	    	text-align: center;
	    }

}
